.pageContianer {
  width: 100%;
  height: 100vh;
  background-color: #404145e7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f6f6f6;
}

.loginContainer {
  width: 40%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
  border-radius: 4px;
  padding: 16px 12px;
}

.loginContainer .loginHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
}
.loginHeader h1 {
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  padding: 4px;
}

.avatar {
  width: 200px;
}

.loginForm {
  display: flex;
  padding: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginForm form {
  display: flex;
  width: 100%;
  gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.formGroup {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.formGroup label {
  font-size: 16px;
  font-weight: light;
  margin: 0;
  padding: 2px 0;
}

form input {
  width: 90%;
  display: flex;
  margin: 4px 0;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: rgb(237, 237, 237);
  background-color: rgb(77, 79, 79);
  padding: 12px;
  flex: 0 1 1;
}

form button {
  width: 50%;
  margin: 4px 0;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px;
  background-color: rgb(215, 162, 64);
  color: #f6f6f6;
  font-weight: 600;
  cursor: pointer;
}
button:hover,
.loginFooter button:hover {
  background: orange;
  transition: all 0.3ms ease-in-out;
}

.loginFooter {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;
  justify-content: space-between;
  align-items: flex-center;
}

.loginFooter a {
  font-size: 16px;
  font-weight: light;
  margin: 0;
  padding: 2px 0;
}

.hrLine {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
}

.loginFooter button {
  width: 100%;
  margin: 4px 0;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 12px;
  background-color: rgb(215, 162, 64);

  color: #f6f6f6;
  font-weight: 600;
  cursor: pointer;
}

@media screen and (max-width: 572px) {
  .loginContainer {
    width: 60%;
  }
}

@media screen and (max-width: 480px) {
  .loginContainer {
    width: 80%;
  }
  .loginHeader h1 {
    font-size: 24px;
  }
  .formGroup label {
    font-size: 12px;
  }
  .formGroup input {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }

  form button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
  .loginFooter button {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
