.mobileNnavbar {
  display: none;
}
.mobileNavbarItems {
  display: none;
}

.mobileNavbarItems ul {
  display: none;
}

@media screen and (max-width: 480px) {
  .mobileNavbar {
    width: 100%;
    height: 56px;
    background-color: #303136;
    color: #f6f6f6;
    display: flex;
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 12px 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 999;
  }
  .mobileNavbarItems {
    display: flex;
    width: 100%;
  }
  a {
    text-decoration: none;
    color: #f6f6f6;
  }

  .mobileNavbarItems ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap: 12px;
    list-style: none;
    font-size: 16px;
  }

  .mobileNavbar {
    padding: 20px 12px;
  }
  .mobileNavbarItems ul {
    font-size: 14px;
    font-weight: 400;
  }
  .link-active {
    color: orange;
  }
}
