.navbar {
  width: 100%;
  height: 70px;
  background-color: #303136;
  color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 12px 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  z-index: 999;
}
.navbarLogo {
  font-size: 28px;
  font-weight: 500;
}
.navbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
a {
  text-decoration: none;
  color: #f6f6f6;
}

.navbarItems ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  list-style: none;
  font-size: 16px;
}
