.movieInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.levelOne {
  display: flex;
  width: 100%;
  gap: 24px;
  justify-content: space-between;
}
.titleTab {
  display: flex;
  flex-direction: column;
}
.movieName {
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: 2px;
}
.movieTagline {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 16px;
}
.releaseInfo {
  display: flex;
  gap: 12px;
  align-items: center;
}
.releaseDate {
  font-size: 1rem;
  font-weight: 400;
  color: #c6c6c6;
  margin: 0;
}

.dot {
  width: 3px;
  height: 3px;
  border-radius: 3px;
  background-color: #c6c6c6;
}

.ratingTab {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: #c6c6c6;
  margin: 0;
}
.mobileRatingTab {
  display: none;
}
.ratingHead {
  font-size: 14px;
  font-weight: 600;
  color: #c6c6c6;
  margin: 0;
  letter-spacing: 1px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ratingCont {
  display: flex;
  gap: 8px;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: 1px;
}

.ratingAvg {
  display: flex;
  align-items: baseline;
}

.boldRating {
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.backdrop {
  display: flex;
  width: 100%;
}
.backdrop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.storyLine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.storyLineHead h3 {
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 8px;
  border-left: 4px solid orange;
  padding-left: 12px;
}
.storyLineContent {
  color: #c6c6c6;
}

.videoHeading {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.videoCount {
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .ratingTab {
    display: none;
  }

  .mobileRatingTab {
    display: flex;
    gap: 16px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #c6c6c6;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .movieName {
    font-size: 2rem;
  }
  .movieTagline {
    font-size: 0.9rem;
  }
  .storyLineHead {
    font-size: 1.2rem;
  }
  .storyLineContent {
    font-size: 0.9rem;
  }
}
