.carouselItem {
  display: flex;
  flex-direction: column;
  object-fit: contain;
  padding: 10px;
  gap: 8px;
  cursor: pointer;
}

.carouselItem__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.carouselItemVideo__img {
  width: 180px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.carouselItem__txt {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
}
