.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  top: 70px;
  background-color: #404145e7;
  color: #f6f6f6;
  padding: 20px 100px;

  position: relative;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  gap: 12px;
}

.searchContainer {
  display: flex;
  width: 100%;
  flex: 1;
}

.searchBox {
  display: flex;
  flex: 0.9;
}
.searchContainer .searchButton {
  display: flex;
  flex: 0.1;
}
.searchBox input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #555;
  outline: none;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
}

@media screen and (max-width: 960px) {
  .home {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 600px) {
  .home {
    padding: 20px 28px;
  }
  .home > h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .home {
    padding: 20px 12px 70px 12px;
  }
  .home > h1 {
    font-size: 20px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    gap: 12px;
  }
}

@media screen and (max-width: 396px) {
  .home > h1 {
    font-size: 20px;
  }
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    gap: 12px;
  }
}
