.bannerItem {
  height: 240px;
}

.bannerItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 860px) {
  .bannerItem {
    height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .bannerItem {
    height: 160px;
  }
}

@media screen and (max-width: 396px) {
  .bannerItem {
    height: 150px;
  }
}
